/* 布局器样式 */
.home-container {
    height: 100%;
}
/* 头部样式 */
.el-header{
    background-color: #373d41;
    display: flex;
    justify-content: space-between;/*左右贴边*/
    padding-left: 0%;
    color: #fff;
    font-size: 20px;
    align-items: center;
}
div {
    display: flex;
    align-items: center;
}
span {
    margin-left: 15px;
    margin-right: 15px;
}
/* 侧边栏样式 */
.el-aside {
    background-color: #333744;
}
/* 主体样式 */
.el-main {
    background-color: #eaedf1;
}
img {
    width: 55px;
    height: 55px;
}